<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Unsplash Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__fadeInLeft animate__faster">
  <ion-list>
    <ion-list-header>
      <ion-label>Resolution</ion-label>
      <ion-toggle
        (ionChange)="change()"
        [(ngModel)]="settings.resolutionOn"
      ></ion-toggle>
    </ion-list-header>

    <!-- <ion-item (click)="detectResolution()">
      <ion-label> Auto-detect resolution </ion-label>
    </ion-item> -->
    <ion-item-group *ngIf="settings.resolutionOn">
      <ion-item>
        <ion-label position="floating">Height</ion-label>
        <ion-input
          [(ngModel)]="settings.height"
          (ionChange)="change()"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Width</ion-label>
        <ion-input
          [(ngModel)]="settings.width"
          (ionChange)="change()"
          type="number"
        ></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-divider></ion-item-divider>
  </ion-list>

  <app-item-list
    [itemName]="'collection'"
    [itemList]="getCollections()"
    [isOn]="settings.collectionsOn"
  ></app-item-list>
  <app-item-list
    [itemName]="'user'"
    [itemList]="getUsers()"
    [isOn]="settings.usersOn"
  ></app-item-list>

</ion-content>
