<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item [routerLink]="['/reddit-settings']">
			<ion-label>Reddit</ion-label>
			<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
			<ion-toggle
				(ionChange)="onIonChange()"
				[(ngModel)]="settingsService.redditIsOn"
				slot="start"
				name="reddit"
			></ion-toggle>
		</ion-item>
		<ion-item [routerLink]="['/unsplash-settings']">
			<ion-label>Unsplash</ion-label>
			<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
			<ion-toggle
				(ionChange)="onIonChange()"
				[(ngModel)]="settingsService.unsplashIsOn"
				slot="start"
				name="unsplash"
			></ion-toggle>
		</ion-item>
	</ion-list>
</ion-content>
